<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Stories</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Luckiest+Guy|Passion+One|Fira+Sans|Quantico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <!-- <div id="back"> -->
    <div id="root">
        <div id="logo" v-on:click="changeColor">User Stories</div>
        <div id="input">
        Som en
        <!-- role -->
        <input type="text" name="role" placeholder="roll" list="roles" v-model="newRole" autofocus>
        <!-- adds new role to the list in input -->
        <datalist id="roles" :value="newRole">
            <option v-for="role in roles" :value="role" v-text="role">{{ roles }}</option>
        </datalist>
        vill jag
        <!-- activity -->
        <input type="text" name="activity" placeholder="aktivitet" list="activities" v-model="newActivity">
        <datalist id="activities" :value="newActivity">
            <option v-for="activity in activities" :value="activity" v-text="activity">{{ activities }}</option>
        </datalist>
        i
        <!-- context -->
        <input type="text" name="context" placeholder="sammanhang" list="contexts" v-model="newContext">
        <datalist id="contexts" :value="newContext">
            <option v-for="context in contexts" :value="context" v-text="context">{{ contexts }}</option>
        </datalist>
        för att
        <!-- reason -->
        <input type="text" name="reason" placeholder="orsak" list="reasons" v-model="newReason">
        <datalist id="reasons" :value="newReason">
            <option v-for="reason in reasons" :value="reason" v-text="reason">{{ reasons }}</option>
        </datalist>
        <!--  -->
        <button id="button" v-on:click="addStory">Add Story</button>
        </div>
        <br>
        

        

        <!-- show -->
        <div class="wrap">
        <select v-model="selected" id="stry" name="stry">
        <!-- <datalist> -->
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
            <!-- <option>story</option>
            <option>roller</option> -->
        <!-- </datalist> -->
        </select>
        <!-- <button v-on:click="showStories">test button</button> -->
        <!-- <p> Selected: {{ selected }}</p> -->
        <div id="lists">
        <li v-if="selected === 'fullStories'" v-for="fullStory in fullStories" v-text="fullStory"> 
            {{ fullStories }} </li>
        <li v-if="selected === 'roles'" v-for="role in roles" v-text="role"> 
            {{ roles }} </li>
        <li v-if="selected === 'activities'" v-for="activity in activities" v-text="activity"> 
            {{ activties }} </li>
        <li v-if="selected === 'contexts'" v-for="context in contexts" v-text="context"> 
            {{ contexts }} </li>
        <li v-if="selected === 'reasons'" v-for="reason in reasons" v-text="reason"> 
            {{ reasons }} </li>
        </div>
        <!-- <li v-for="fullStory in fullStories" v-text="fullStory"></li> -->
        <!-- <li v-for="selected in select"> {{ selected }} </li> -->
        <!-- <ul>
            <li id="showFull" v-for="fullStory in fullStories">{{ selected }}</li>
            <li v-repeat="newName" v-text="names">
                {{ $value }}
            </li>
        </ul> -->
    </div>

    <br>
    <!-- lists -->
    <div class="wrap">
            <p>Som en {{ newRole }} vill jag {{ newActivity }} i {{ newContext }} för att {{ newReason }}.</p>
            <p id="error"></p>
        <!--  -->
        <h3 id="full"></h3>
        <li v-for="fullStory in fullStories" v-text="fullStory"></li>
        <!--  -->
        <h3 id="rol"></h3>
        <li v-for="role in roles" v-text="role">{{ roles }}</li>
        <!--  -->
        <h3 id="akt"></h3>
        <li v-for="activity in activities" v-text="activity">{{ activities }}</li>
        <!--  -->
        <h3 id="con"></h3>
        <li v-for="context in contexts" v-text="context">{{ contexts }}</li>
        <!--  -->
        <h3 id="res"></h3>
        <li v-for="reason in reasons" v-text="reason">{{ reasons }}</li>
    </div>

    </div>
<!-- </div> -->
    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>
</html>