body{
    background: #dfdfdf;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#wrap{
    background: #e2e2e2;
    margin: 0 auto;
    display: block;
    /* flex-grow: 1; */
    width: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border-width: 10px;
    border-top: 10px solid #e2e2e2;
    border-bottom: 10px solid #e2e2e2;
    border-left: 10px solid #e2e2e2;
    border-right: 10px solid #e2e2e2;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

}
#test{
    background: #e2e2e2;
    margin: 0 auto;
    display: block;
    /* flex-grow: 1; */
    width: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

input[type=text]{
    border: none;
    border-bottom: 2px solid #8842d5;
    background: none;
    width: 100px;
    
}
input[type=text]:focus {
    
    outline: none;
  }

#rol, #akt, #con, #res{
    /* color:red; */
    /* position: relative;
    left: -20px; */
}